%li
  %a{:href => "#"}
    %div
      %strong John Smith
      %span.pull-right.text-muted
        %em Yesterday
    %div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
%li.divider
%li
  %a{:href => "#"}
    %div
      %strong John Smith
      %span.pull-right.text-muted
        %em Yesterday
    %div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
%li.divider
%li
  %a{:href => "#"}
    %div
      %strong John Smith
      %span.pull-right.text-muted
        %em Yesterday
    %div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
%li.divider
%li
  %a.text-center{:href => "#"}
    %strong Read All Messages
    %i.fa.fa-angle-right
/ /.dropdown-messages