%li
  %a{:href => "index.html"}
    %i.fa.fa-dashboard.fa-fw
    Dashboard
%li
  %a{:href => "#"}
    %i.fa.fa-bar-chart-o.fa-fw
    Charts
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => "flot.html"} Flot Charts
    %li
      %a{:href => "morris.html"} Morris.js Charts
  / /.nav-second-level
%li
  %a{:href => "tables.html"}
    %i.fa.fa-table.fa-fw
    Tables
%li
  %a{:href => "forms.html"}
    %i.fa.fa-edit.fa-fw
    Forms
%li
  %a{:href => "#"}
    %i.fa.fa-wrench.fa-fw
    UI Elements
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => "panels_wells.html"} Panels and Wells
    %li
      %a{:href => "buttons.html"} Buttons
    %li
      %a{:href => "notifications.html"} Notifications
    %li
      %a{:href => "typography.html"} Typography
    %li
      %a{:href => "grid.html"} Grid
  / /.nav-second-level
%li
  %a{:href => "#"}
    %i.fa.fa-sitemap.fa-fw
    Multi-Level Dropdown
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => "#"} Second Level Item
    %li
      %a{:href => "#"} Second Level Item
    %li
      %a{:href => "#"}
        Third Level
        %span.fa.arrow
      %ul.nav.nav-third-level
        %li
          %a{:href => "#"} Third Level Item
        %li
          %a{:href => "#"} Third Level Item
        %li
          %a{:href => "#"} Third Level Item
        %li
          %a{:href => "#"} Third Level Item
      / /.nav-third-level
  / /.nav-second-level
%li
  %a{:href => "#"}
    %i.fa.fa-files-o.fa-fw
    Sample Pages
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => "blank.html"} Blank Page
    %li
      %a{:href => "login.html"} Login Page
  / /.nav-second-level
/ /#side-menu