.row
  .col-lg-12
    %h1.page-header Morris.js Charts
  / /.col-lg-12
/ /.row
.row
  .col-lg-6
    .panel.panel-default
      .panel-heading
        Area Chart Example
      / /.panel-heading
      .panel-body
        #morris-area-chart
      / /.panel-body
    / /.panel
  / /.col-lg-6
  .col-lg-6
    .panel.panel-default
      .panel-heading
        Bar Chart Example
      / /.panel-heading
      .panel-body
        #morris-bar-chart
      / /.panel-body
    / /.panel
  / /.col-lg-6
  .col-lg-6
    .panel.panel-default
      .panel-heading
        Line Chart Example
      / /.panel-heading
      .panel-body
        #morris-line-chart
      / /.panel-body
    / /.panel
  / /.col-lg-6
  .col-lg-6
    .panel.panel-default
      .panel-heading
        Donut Chart Example
      / /.panel-heading
      .panel-body
        #morris-donut-chart
      / /.panel-body
    / /.panel
  / /.col-lg-6
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Morris.js Usage
      / /.panel-heading
      .panel-body
        %p
          Morris.js is a jQuery based charting plugin created by Olly Smith. In SB Admin, we are using the most recent version of Morris.js which includes the resize function, which makes the charts fully responsive. The documentation for Morris.js is available on their website,
          = succeed "." do
            %a{:href => "http://www.oesmith.co.uk/morris.js/", :target => "_blank"} http://www.oesmith.co.uk/morris.js/
        %a.btn.btn-default.btn-lg.btn-block{:href => "http://www.oesmith.co.uk/morris.js/", :target => "_blank"} View Morris.js Documentation
      / /.panel-body
    / /.panel
  / /.col-lg-6
/ /.row
%script{:src => url_to_javascript("demo/morris-demo.js")}